/target
.DS_Store
/docks.json
/profile.json
index.scip
*.log
*.exe
blueprint.json
*.stacks
profile.json.gz
.envrc
.direnv
*.zip
/crates/engine/target
/crates/pulsar_docs/target
PROMPT.md
/plugins/editor
engine_out.txt
*.dll
*.dll
nul
plugins/editor/blueprint_editor_plugin.dll
crates/ui/target/rust-analyzer/flycheck0/stderr
crates/ui/target/rust-analyzer/flycheck0/stdout
out.txt
/tools/set-logo/target
